*{
    margin: 0;
    padding: 0;;
}
nav, a{
    color: white;
    background-color: #545454;
    font-size: 50px;
    text-align: center;
}
h3{ 
    color: white;
    background-color: #737373;
    text-align: center;
    font-size: 40px;
}
.row{
    color: #545454;
    background-color: #D9D9D9;
    text-align: center;
}
button{
    color: white;
    background-color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.col-12 p{
    color: white;
    background-color: #A6A6A6;
    text-align: center;
    font-size: 30px;
}
.footer-copyright p {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    background-color: #545454;
    text-align: center;
    font-weight: 500;
}

.card-header b{
    font-family: 'Gugi', cursive;
    margin-bottom: 0;    
}

.card{
    min-height: 200px;   
}

.card-body i{
    font-size: 5rem;
    margin: auto;
    padding: 10px;
    cursor: pointer;
    color: black;
    font-weight: 800;
}