.body{
    background-image: url(../img/dados/fondo.png);
}
.nav{
    background-color: black;
    height: 15%;
}
.titulo1{
    background-color: white;
  
}
.titulo2{
    background-color: white;
    
}